Package: GenericPC-B760
Version: 1.1.1
Architecture: amd64
Maintainer: Junhan Shi <junhan.shi@intel.com>
Installed-Size: 712
Depends: coreutils, ddcutil
Section: utils
Priority: optional
Description: GenericPC Power  Daemon.
 This service is responsible for evaluate generic pc power..etc
